/* Write your CSS here */

.about-container {
  width: 100%;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2-container {
  background-color: white;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
}
